* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

.title {
  color: whitesmoke;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content {
  width: 580px;
  margin: 0 auto;
  background-color: darkslategrey;
  padding: 3%;
  padding-left: 6%;
}

.secondTitle {
  text-align: left;
  margin: 2% 0;
  font-weight: 100;
}

.form {
  padding: 5px;
}

.formLine {
  display: inline-flex;
  padding: 5px 0px;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 100px;
}

input,
select {
  width: 130px;
  margin-left: 10px;
}

table {
  width: 100%;
}

thead {
  background-color: seagreen;
  line-height: 30px;
}

button {
  width: 200px;
  color: gainsboro;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  height: 3rem;
  background-color: mediumseagreen;
  border-radius: 5px;
  margin: 14px 25%;
  cursor: pointer;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
